*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: auto;
    box-sizing: border-box;
  /*  font-family:"Montserrat", sans-serif;*/
    font-family: "Nunito", sans-serif;
    font-style: normal;
}



body {
    margin: 0;
    padding: 0;
    font-family: Munito, san-serif;
    background-image: url('./style.svg');
   
    background-size: cover;
    background-position: center;
    overflow-x: hidden; 
    
    
    z-index: 1;
   
    
   
}

.body-con{
    background-color: #eefdf5;
}

.content_container{
    font-family: Arial, sans-serif;
    margin: 0;
    margin-top: -550px;
    display: flex;
   
    width: 1519px;
    
    
   
  
}



.cookie{
    position:static;
    top:-500;
    width:100%;
    height:50px; background-color:#d39910;
    color: #f0f7e1;
    text-align: center;
    margin:40px 0;
}


.header__container{
   /* position:absolute;*/
    position: fixed;
    display: flex; 
    padding-left:40px 0;
    background-color: rgba(255, 255, 255, 0.8);
    margin:0;
    min-width: 100%;
    top: 0;
    margin-left:-100;
    z-index: 2;
    
    
   
    
}


.logo {
    position:absolute;
    display: inline-block;
    margin-right: auto;
    width: 150px;
    height: 110px;
    font-size: small;
    margin-left: -130px;
   /* margin-top: 20px;*/
    /*margin-bottom: 20px;*/
    margin-top: -40px;
}

.head__nav__menu{
    display: inline-block;
    margin: 15px;
    margin-left: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
   

}

._hd_nav__list{
  
    display: inline-block;
    margin: 8px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.hd_nav_top{
   
    margin: 15px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;


}

.head__nav__menu .hd_nav_top {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.head__nav__menu .hd_nav_top span {
    display: inline-block;
    margin-right: 10px;
}

.head__nav__menu .hd_nav_top span a {
    
    text-decoration: none;
    color: #232323;
    text-align: center;
    padding: 10px;
    transition:background-color 0.3s;
}

.head__nav__menu .hd_nav_top span a:hover {
   /* background-color: #e2fae5; */
    border-radius: 5px;
    color:#55e0af;
}

.create{
    color: rgb(235, 238, 239);
    background-color: #3bbb4c;
    border-radius: 5px;
    border: 0;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease;
}

.Login{
    position: relative;
    color:#232323;
    border-radius: 5px;
    margin-right: 30px;
    border: 0;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease;
  
}

.search-btn:hover{
    background-color: #55e0af;
    color: rgb(255, 255, 255);
}

.search-btn:hover , .C_Login:hover{
    color: rgb(235, 238, 239);
    background-color: #8fe8ab;
   
}

.search-bar{
    padding: 6px 210px;
    margin-left: -90px;
    padding-left: 25px;
    background-color: rgb(241, 245, 244);
    border-radius: 10px;
    border: 1px  solid #232323; 
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075), inset, 0 0 8px rgba(229, 103, 23, 0.6);
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus, .talent__tap:focus{   
    border-color: #55e0af;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
    outline: 0 none;
}



.search-bar:active{
    border: #55e0af;

}

.search-btn{
   
    padding: 6.5px 9px;
    padding-left: 20px;
    border-radius:0 8px 8px 0;
    color: rgb(235, 238, 239);
    background-color: #3bbb4c;
    border: 0;
    cursor:pointer;
   
   
}

.search{ 
    position: relative; 
    display: inline-block; 
} 


.search button { 
    position: absolute; 
    top: 0; 
    right: 0; 
    border: none; 
    cursor: pointer; 
} 


/*------Below is the section for the nav hover effects--------*/

.hd__nav__dropdown{
    display: none;
    position: absolute;
    overflow: auto;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding:14px 16px;
    top: 35px;
    left: 0;
    max-width: 500px;
    z-index: 1;
    list-style: none;
    left: 50%;
}

._hd_nav__list{
    list-style:none;
    display: flex;
    
}

.fa-angle-up{
    position: absolute;
    margin-left:-14px ;
    
}

.hd__nav__label .fa-angle-up{
   display: none;
}

.hd__nav__label:hover .fa-angle-up{
    display: contents;
}
.hd__nav__label:hover .fa-angle-down{
    display: none;
}



.talent__tap{
    position: relative;
    padding: 6px 6px;
    border-radius:8px 0 0 8px ;
    background-color: rgb(247, 250, 250);
    left: -100PX;
  
   
    

}


.hd__nav__item:hover .hd__nav__dropdown--productmenu{
    display: flex;

}

.hd__nav__dropdown--productmenu{
    /*display: flex;*/
}








.content__message{
    max-width:550px;
    margin-left:130px;
    z-index: 0;
    -webkit-animation: fadeIn .6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fadeIn .6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    
}




@keyframes fadeIn{
    0%{
        opacity: 0;
        -webkit-transform: translateY(10%);
        transform: translateY(10%);

    }

    100%{
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}



.content_message_tittle{
    margin-bottom: 20px;
    font-size:20px;
    color: #141415;
    font-weight:400;
    z-index:-1;
    letter-spacing: 1px;
       
}

.content_message_info{
    
    font-size: 18px;
    margin-top: 20px;
    margin:0px;
    letter-spacing: 1px;
    line-height: 1.5;
    font-style: italic;
    z-index: -1; 
}

.Register__button{
    color: rgb(235, 238, 239);
    background-color: #36b555;
    border-radius: 5px;
    border: 0;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
   
    
    transition: 0.2s ease;
}

.Register__button:hover, .create:hover, .Login:hover , .btn_account .C_Login:hover{
    color: rgb(235, 238, 239);
    background-color: #8fe8ab;
    border: 2px solid #04ff75;
   
}

/*

    display: none;
    position: absolute;
    width: 250px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    top: 40px;
    left: 0;
*/


.hd__nav__link__info{
    display: flex;
    flex-direction: column;
    
}

.content_container .content__image{
    margin-left:-50px;
    margin-top: -50px;
    max-width:100%;

}

.content_container .content__image .img__content__message{
    position:relative;
    top:0px;
    padding:50px;
    max-width:400px;
    z-index: 0;
    margin-left:-150px;
    overflow: hidden;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.5;
    font-style: italic;
}

.content__image{
    display: flex;
    flex-direction: row;
}

.Explore_content{
    position:relative;
    padding-left:100px 0;
    background-color: rgba(255, 255, 255, 0.8); 
    margin:0;
    max-width: 100%;
    top: 20%;
    height: 700px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin-top: -20px;
    max-height: 700px;
    z-index: 1;
    border-top: 2px solid #04ff75;
    border-bottom: 2px solid #04ff75;

}

.expl__container{
    margin-top: 35px;
    margin-left: 25PX;
   
}

.expl__cont__container{
    max-width: 100%;
    display: flex;
    position:absolute;
    justify-content: space-between;
   

   
}

.expl__con__left{
    margin-right: 30px;
    margin-top: 45px;
   
}


.expl__con__left button{
    margin-top: 30px;
    margin-bottom: 30px;
    padding:15px 15px;
    gap: 1em;
    border: 1px solid #606160;
    font-size: 20px;
    border-radius:8px;
}

.see__more{
    font-size: 14px;
    border: none;
    background-color: transparent;
    color: rgb(59, 208, 126);
    cursor: pointer;
  }


/** Expl con right styling    **/

.expl__con__right{
    margin-left: 20px;
    overflow: hidden;
    max-width:1200px;
    margin:0 15px 5px;
}


.fa-location-dot{
    width: 20px;
    height:20px;
    background-color: #fefadb;
    align-items: center;
    text-align: center;
    color: #0bc22f;
    border-radius: 20%;
    top: 145px;
    margin: 10px;
}


.Explore_content h1{
    margin-top:20px;
    color: #000000;
    text-align: center;
    font-weight: bolder;    

}

.expl__container__text{
    background-color: #edf0f0;

}

.Explore_content .expl__container__text{
    margin: -20px;
    color: #000000;
    padding: auto;
    text-align: center;
    background-color: #edf0f0;
    align-items: center;
     

}

.Explore_content .expl__container__text p{
    margin-top:20px;
    margin-left: 500px;
    color: #000000;
    text-align: center;
    font-size: 16px;
    max-width: 500px;
   
    
     
}





.hr-line{
  
    width: 100%;
    color: #6a837a;
}

.profile{
    display: flex;
    flex-direction:column;
    cursor: pointer;
    height: 350px;
    width: 300px;
    flex-direction: row;
    border-radius: 10px;
    cursor: pointer;
    font-size: 13px;
    color: #606160;
    list-style: none;
    text-decoration: none;
}

.profile__list{
    margin: 35px;
    

}

.profile__list .image__card img{
    width: 240px;
    height: 140px;
    margin-left: -36px;
    margin-top: -16px;
    border-radius: 3%;
  

}

.profile__list a{


}

.profile_link{
    color: #606160;
    background-color: transparent;
    text-decoration: none;
}



.pr__info{
    max-width: 240px;
    margin:0 -37px;
    list-style: none;
    font-size: 16px;
    padding:0;
   
   

}

.pr__info .name{
    font-size: 16px-;
    font-weight: bold;

}

.pr__info .loc__time{
    font-size: 12px;
    color: rgb(59, 208, 126);
    margin-left: 20px;

}

.pr__info li p:hover{
    text-decoration: underline;
    cursor: pointer;
   
}


.fa-book{
    width: 20px;
    height: 20px;
    margin: 10px;
    background-color: #fbf387;
    color: #3ac9c9;
    margin-left: 20px;
    border-radius: 5px;
}


.swiper-slide-button{

    background-color: #8bf593;
    border-radius: 50%;
    color: #fff;

    margin-top: -50px;
    transition: 0.2s ease;
    font-size: 8px;
    width: 50px;
    height: 50px;
     
}
.expl__con__right .swiper-wrapper .skip-arrow-button{
  color: #fff;
  margin-top: -50px;
  transition: 0.2s ease;
}




.Explore_content .profile__card{
    display:flex;
    
}

.Explore_content .profile__card .image__card img{
    border-radius: 50%;
}

.btn_account .C_Login{
    color:#232323;
    border-radius: 5px;
    margin-right: 55px;
    border: 1px solid #FF5804;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    margin: 40px;
    transition: 0.2s ease;
}


.btn_account{
     transition: 0.2s ease;
   
}


.btn_account__text{
    color: #3bbb4c;
    font-size: 16px;
    font-weight: bold;
    transition: 0.2s ease;

}


.footer{
    background-color:#edf0f0;
    color: #098137;
    align-items: left;


}


.footer__content_list{
    list-style: none;
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
    padding: 20px;
    font-size: 15px;
    text-align: center;
   
    
}

.footer__content_list__links{
    list-style: none;
    font-size: 14px;
    text-decoration: none;
    text-align: left;
   
}

.footer__content_list__links li a{
    text-decoration: none;
    color: #606160;
    cursor: pointer;
    padding: 20px;
    
   
}

.footer__content_list__links li a{

    
}

.footer__bottom{
    
}


.footer_bottom_left{
    
}



/*----------content of the platform*/


/*-----animation-copied----*/
/*

.content__image{
    animation-delay: calc(var(--index)* 4.5s);
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-name: NAZv2;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    position: absolute;
    width: 100%;
}


img {
    vertical-align: middle;
}
img {
    border-style: none;
}
* {
    box-sizing: border-box;
}
user agent stylesheet
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

    */


/*-----animation-copied----*/
/*----------copy---------------*/

/*

.hd__nav__item.has-menu .hd__nav__link__desc {
    display: block;
}
.hd__nav__item.has-menu .hd__nav__link__desc {
    display: block;
}
.hd__nav__link__desc {
    display: none;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7rem;
}

.hd__nav__link__desc {
    display: none;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7rem;
}



.hd__nav-subcategory, .hd__nav-submenu {
    display: flex;
    flex-direction: column;
    padding: 1.5rem .8rem 2.5rem;
    list-style: none;
    border-radius: inherit;
}

ul ul {
    list-style-type: circle;
}

ul {
    list-style-type: disc;
}
.hd__nav__dropdown {
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, .2);
    left: -50%;
    padding: 0;
    position: absolute;
    top: 3.7rem;
    z-index: 5;
    transform: translateY(8%);
    opacity: 0;
    visibility: hidden;*
    pointer-events: none;
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: space-between;
}
.hd__nav__dropdown {
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
    left: -50%;
    list-style: none;
    padding: 1.5rem 0.8rem 2.5rem;
    position: absolute;
    top: 3.7rem;
    width: 33rem;
    z-index: 5;
    transform: translateY(8%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.hd__nav__list {
    align-items: center;
    display: inline-flex;
    justify-content: flex-start;
    list-style: none;
    max-width: 81.1rem;
}
.hd__nav__list {
    align-items: center;
    display: inline-flex;
    justify-content: flex-start;
    list-style: none;
    max-width: 81.1rem;
}

ul {
    list-style-type: disc;
}
body {
    color: #000;
    font-family: "Moderat", sans-serif;
}
body {
    font-size: 1.6rem;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    overflow: auto !important;
}
body {
    color: #000000;
    font-family: "Moderat", sans-serif;
}
body {
    font-size: 1.6rem;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    overflow: auto !important;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
*/
/*---------end copy------------*/






@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      height: auto;
    }

}