
$main-color:#6c5ce1;
$secondary-color: #a250fe;
$lighter-color: #e0e4e7;
$light-color: #e4e4c4;
$light-text-color: #ececb5;
$dark-color:#52505e;
$button-background-color:#3bbb4c;
$main-border-color:#96f4a2;
$main-button-color:#96f4a2;
$circle-background-color:#5dd96d;
$blur-text-color:#bdbec0;
$font-smaller: 14px;
$font-bigger:20px;
$hover-border:#a4ffae;
$hover-background:#4ac859;


$default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$heading-font: "Montserrat",  sans-serif;
$nav-font: "Poppins",  sans-serif;
  